<!DOCTYPE html>

    <html>
        <head>
            <style>
                form {
                    background-color: #eee;
                    padding: 20px;
                    margin: 0 auto;
                    width: 540px;
                    font: 16px sans-serif;
                    border-radius: 10px;
                }
                textarea {
                    margin: 10px;
                    width: 540px;
                    height: 120px;
                }
            </style>
        </head>
        <body>
            <!-- create your form here -->
            <form action="/" method ="post">
                <label> Rotate by:
                    <input type="text" name="rot"/>
                    <h6 style="color: red;">You have entered an invalid character.</h6>
                    <h6 style="color: red;">ENTER A NUMBER</h6>
                    <textarea name="text">
                    </textarea>
                </label>
                <input type="submit" value="Submit Query"/>
            </form>
        </body>
    </html>